In [52]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [53]:
# dataset with 10,000 rows and 6 columns of random data between 0 and 100 (inclusive) and last column is a random number intiger between 0 and 1 
df = pd.DataFrame(np.random.randint(0, 100, size=(10000, 6)), columns=['a', 'b', 'c', 'd', 'e', 'f'])
df['g'] = np.random.randint(0, 2, size=10000)

In [54]:
df.columns = [ 'var_' + str(i) for i in range(1, 7) ] + ['failure']

In [55]:
# random value between 0 and 1 with chance of 0.1 of being 1
df['failure'] = np.random.binomial(1, 0.1, size=10000)

In [56]:
# when failure is 1, select 2 rows before and 1 after and save them to a new dataframe

df_failure = pd.DataFrame()
for i in range(0, len(df)):
    if df.iloc[i]['failure'] == 1:
        df_failure = df_failure.append(df.iloc[i-2:i+2])

In [57]:
df.head(20)

    var_1  var_2  var_3  var_4  var_5  var_6  failure
0      28     40     61     99     51      8        0
1       8      5     86     10     39     43        0
2      74     43     52     93     62     40        0
3      35     83     33     44     46     56        0
4       6     85     82     63     98     91        1
5      59     61     13     18     88     81        0
6      95     61     30     88     24     29        0
7      54      2     82     26     53      2        0
8      94     99     26     67     10     14        0
9      45      8     18     39     21     74        0
10     17     84      4     53     77     51        0
11     20      1     42     93     50     38        0
12     19     40     99     83     12     34        0
13     72     18     62     70     52      7        0
14     49     18     41     49     70     29        0
15     38     39     47     34     17     96        0
16     88     55     14     29     56      3        0
17     41     28     23     87      2     35        0
18     75     45     73     13     95     66        0
19     28     36     15     29     78      7        0

In [58]:
# calculate the set difference between the original dataframe and the new dataframe with the failure rows
df_diff = df.drop(df_failure.index)
df_diff.head()

   var_1  var_2  var_3  var_4  var_5  var_6  failure
0     28     40     61     99     51      8        0
1      8      5     86     10     39     43        0
6     95     61     30     88     24     29        0
7     54      2     82     26     53      2        0
8     94     99     26     67     10     14        0

In [59]:
df_failure.head(50)

     var_1  var_2  var_3  var_4  var_5  var_6  failure
2       74     43     52     93     62     40        0
3       35     83     33     44     46     56        0
4        6     85     82     63     98     91        1
5       59     61     13     18     88     81        0
42       7     96     57      8     12     29        0
43      84     71     44     53     11      3        0
44      19     65     17     32     82     37        1
45      14     69     58     48     65     35        0
44      19     65     17     32     82     37        1
45      14     69     58     48     65     35        0
46      92     88     81     50     30     97        1
47      26     12     94     25     65     25        0
50      99     56     97     50     20     74        0
51      58     44     97     68     38      8        0
52      54     78     13     86     96     67        1
53      79     94     42      7     91     67        0
54      63      8      0     58     94     73        0
55      80     12     66     33     89     77        0
56      44     12      4     29     53     84        1
57      59     45     17     43     13     95        0
58      35      1     61      5     63      4        0
59      53     84     53     99     47     93        0
60      34      7     95     10     18     13        1
61      74     46     10     46     29      0        0
67      95     88     63     94      4     74        0
68      67      8     18     87     55     48        0
69      92     34     41     10     19     16        1
70      10     49     21     15     79     27        0
70      10     49     21     15     79     27        0
71      91     63     50     51     93     70        0
72      48     70      4     84     31     17        1
73      40     31     64     31     91     97        0
76      13      1     85     39     41     51        0
77      80     84      9     95     56      0        0
78      37     38      8     54     18     26        1
79      95      0     59     99     73     23        0
81      75     43     79     98     47     17        0
82      33     46     31     68     44     77        0
83      44     30     92     24     90     89        1
84      59     34     37     69     94     21        0
117     43     69     52     29     29     98        0
118     23     85     68     63     78     69        0
119      0     45     52     25     74     67        1
120     56     40     95      3     28     87        0
143     39     27     99      7     79      2        0
144     92      4     32     24     84     76        0
145     82     75     24     82     79     35        1
146     57     36     19     36     30     28        0
147     49     28     24     97     28     26        0
148     22     42     34     79     33     60        0